<% layout("layouts/boilerplate")%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <p>Edit the details below!</p>
    <form
      action="/campgrounds/<%= campground._id%>?_method=put"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input
          required
          value="<%=campground.title%>"
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a campground name.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          name="campground[description]"
          id="description"
          cols="30"
          rows="10"
          required
        >
<%=campground.description%></textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a description.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input
          required
          value="<%=campground.location%>"
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a location.</div>
      </div>

      <div class="input-group mb-3"></div>
      <div class="mb-3">
        <label class="form-label" for="price">Price:</label>
        <input
          required
          value="<%=campground.price%>"
          class="form-control"
          type="number"
          name="campground[price]"
          id="price"
          placeholder="$0.00"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a price.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image URL:</label>
        <input
          required
          value="<%=campground.image%>"
          class="form-control"
          type="text"
          value="https://random.imagecdn.app/600/600"
          name="campground[image]"
          id="image"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter an image URL.</div>
      </div>

      <div class="mb-3">
        <button class="btn bg-info mb-5">Save</button>
      </div>
    </form>
    <form
      method="post"
      action="/campgrounds/<%=campground._id%>?_method=delete"
    >
      <button
        class="bg-danger btn"
        href="/campgrounds/<%=campground._id%>/delete"
      >
        Delete Campground
      </button>
    </form>
    <a href="/campgrounds/<%=campground._id%>">Cancel</a>
  </div>
</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam ipsum
doloremque cumque suscipit reiciendis eum, omnis nostrum veritatis, rem
provident quia repellendus odit optio quaerat ipsa deleniti quas modi? Lorem
ipsum dolor, sit amet consectetur adipisicing elit. Laborum, eaque consequatur
facere minus quisquam quaerat aliquid porro incidunt vitae sed ducimus qui
accusamus voluptates nobis corporis totam voluptatibus dicta quis!
