<% layout("layouts/boilerplate")%>
<!-- 
<h1>Campground Details</h1>
<h2><%=campground.title%></h2>
<h3><%=campground.location%></h3>
<p><%=campground.description%></p>
<p>$<%=campground.price%>.00</p>
<img src="<%=campground.image%>" alt="" />
<footer>
  <a href="/campgrounds/<%=campground._id%>/edit ">Edit Campground</a>
  <p></p>
  <form
    method="post"
    action="/campgrounds/<%=campground._id  %>?_method=delete"
  >
    <button>Delete Campground</button>
  </form>
  <p></p>
  <a href="/campgrounds">Return to All Campgrounds</a>
</footer> -->

<div class="row">
  <div class="col-6">
    <h1>Campground Details</h1>
    <div class="card mb-5">
      <img src="<%=campground.image%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=campground.title%></h5>
        <p class="card-text"><%=campground.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%=campground.location%></li>
        <li class="list-group-item">$<%=campground.price%>.00 per/night.</li>
      </ul>
      <div class="card-body">
        <a
          class="card-link btn bg-info"
          href="/campgrounds/<%=campground._id%>/edit"
          >Edit Campground</a
        >
        <div>
          <div class="mb-3"></div>
          <form
            method="post"
            action="/campgrounds/<%=campground._id  %>?_method=delete"
          >
            <button
              class="text-white btn bg-danger"
              href="/campgrounds/<%=campground._id%>/delete"
            >
              Delete Campground
            </button>
          </form>

          <!-- //REVIEWWWWWWWWWWWWWWW -->
        </div>

        <div class="my-5">
          <a href="/campgrounds">Return to All Campgrounds</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <form
      novalidate
      class="needs-validation validated-form"
      action="/campgrounds/<%=campground._id%>/reviews"
      method="post"
    >
      <div class="mb-3">
        <h2>Leave a review!</h2>

        <label for="rating">Rating:</label>
        <input
          required
          class="form-range"
          type="range"
          min="1"
          max="5"
          name="review[rating]"
          id="rating"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review:</label>
        <textarea
          required
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a review first.</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <h2 class="my-5">Latest Reviews:</h2>
    <% for(let each of campground.reviews){ %>
    <div class="mb-3 card card-body">
      <h3 class="mb-2 card-title">Rating: ------ <%=each.rating %></h3>
      <p class="card-text">Review: ------ "<%= each.body %>"</p>
      <!-- No validation required to delete -->
      <form
        action="/campgrounds/<%=campground._id%>/reviews/<%=each._id%>?_method=delete"
        method="post"
      >
        <button class="btn-sm btn-danger btn">Delete Review</button>
      </form>
    </div>
    <% } %>
  </div>
</div>
